/* App.css */
.markdown-table {
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 18px;
	text-align: left;
}

.markdown-table th,
.markdown-table td {
	border: 1px solid #ddd;
	padding: 8px;
}

.markdown-table th {
	background-color: #f2f2f2;
}